:root {
    --main-color-black: #000;
    --main-bg-color: #f8f8f8;
    --main-color-white: #fff;
    --main-color-gray: #959dad;
    --main-color-darkgray: #59606d;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}
body {
    background-color: var(--main-color-white);
}
.container {
    max-width: 1250px;
    margin: 0 auto;
}
.wrapper {
    display: flex;
    padding-top: 32px;
    /* gap: 20px; */
}
/* header */
header {
    background: #ffffff;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
    border-radius: 0 0 8px 8px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 16px 0;
}

.header__card {
    position: relative;
}

.header__card span {
    background-color: var(--main-color-gray);
    position: absolute;
    width: 12px;
    height: 12px;
    text-align: center;
    right: 0;
    top: 0;
    font-size: 8px;
    color: var(--main-color-white);
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Aside */

aside {
    min-width: 160px;
}
.navbar {
    list-style: none;
}
.navbar__item {
    text-decoration: none;
    display: block;
    padding: 16px 0;
    color: var(--main-color-gray);
}
.navbar__item:not(.navbar__item_active):hover {
    color: var(--main-color-darkgray);
}
.navbar__item_active {
    text-decoration: underline;
    color: #1f1f1f;
}

/* main */
.content {
    width: 100%;
}
.cards__header {
    display: flex;
    justify-content: flex-end;
}

.cards__filter {
    padding: 10px 0;
}

/* фильтр меню */
.filter {
    position: relative;

    padding: 10px 0;
    color: #1f1f1f;
    font-size: 16px;
}
.filter__label{
    margin-bottom: 10px;
}
/* .filter span {
    color: var(--main-color-gray);
    font-size: 16px;
} */
.filter:hover .filter__dropdown {
    display: block;
}

.filter__dropdown{
    position: absolute;
    background-color: var(--main-color-white);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    list-style: none;
    padding: 8px 0;
    right: 0;
    display: none;
}
.filter__dropdown li:hover {
    color: #1f1f1f;
    background: #f8f8f8;
}
.filter__dropdown_item {
    cursor: pointer;
    padding: 4px 12px;
}
/* фильтр меню end*/
