* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

nav {
    background-color: #111;
    padding: 8px 16px;
}

.navbar {
    list-style: none;
    display: flex;
}

.navbar__item a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    font-family: sans-serif;
}

.navbar__item a:hover {
    background-color: #fff;
    color: #111;
}

.navbar__toggle {
    width: 20px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    box-sizing: initial;
    padding: 7px;
}

.navbar__toggle span {
    display: block;
    width: 100%;
    border-bottom: 2px solid #fff;
}

.navbar__toggle_active{
    background-color: #fff;
    border-radius: 5px;
}

.navbar__toggle_active span {
    border-bottom: 2px solid #000;
}

.ps-relative {
    position: relative;
}
@media (max-width:768px) {

    .navbar {
        display: none;
    }

    .navbar__toggle {
        display: flex;
    }

    .navbar__show {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 55px;
        background: #111;
        min-width: 256px;
    }
}